* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #DFFAFB;
  font-family: "Times New Roman", serif;
  position: relative;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header .heading-1 {
  display: none;
}

.break-line {
  width: 100%;
  height: 1px;
  background-color: #107F78;
  border: none;
}

@media (min-width: 1200px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.customer-card .card-body .profile, .service-card .card-body .readmore, .navigation .nav-menu a {
  text-decoration: none;
}
.customer-card .card-body .profile:hover, .service-card .card-body .readmore:hover, .navigation .nav-menu a:hover {
  cursor: pointer;
}
.customer-card .card-body .profile:active, .service-card .card-body .readmore:active, .navigation .nav-menu a:active {
  color: inherit;
}

.service, .service .service-cards, .customer, .customer .customer-cards, .project, .project .project-cards {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

.blog-card .picture img, .project-card img, .customer-card .card-header img, .carousel .carousel-inner source, .carousel .carousel-inner img, .blog-card .picture::after, .project-card::after, .customer-card .card-header::after, .carousel .carousel-inner::after {
  width: 100%;
  height: 100%;
}

.blog-card .picture, .project-card, .customer-card .card-header, .carousel .carousel-inner {
  position: relative;
}
.blog-card .picture::after, .project-card::after, .customer-card .card-header::after, .carousel .carousel-inner::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(217, 217, 217, 0.2);
  border-radius: 5px;
}

.footer .footer-body {
  padding: 40px 10px;
}

.navigation {
  background-color: #617DEA;
  padding: 15px;
  border-radius: 5px;
}
.navigation .nav-menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
}
.navigation .nav-menu a {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  color: #052929;
}
.navigation .nav-menu a.active {
  color: #DFFAFB;
}
.navigation .nav-menu a:hover {
  color: #DFFAFB;
}

@media (min-width: 576px) {
  .nav-menu .menu-link a {
    font-size: 14px;
  }
}
.carousel {
  padding-left: 10px;
  padding-right: 10px;
}
.carousel .carousel-inner {
  display: inline-block;
}
.carousel .carousel-inner source {
  border-radius: 5px;
}
.carousel .carousel-inner img {
  border-radius: 5px;
}
.carousel .carousel-control {
  margin-top: 10px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.carousel .carousel-control .button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #052929;
}
.carousel .carousel-control .button.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2B18B9;
}

@media (min-width: 576px) {
  .carousel {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .carousel .carousel-inner {
    height: 390px;
    width: 100%;
    background-size: cover;
  }
}
@media (min-width: 992px) {
  .carousel .carousel-inner {
    height: 490px;
    width: 100%;
    background-size: cover;
  }
}
@media (min-width: 1200px) {
  .carousel .carousel-inner {
    height: 600px;
    width: 100%;
    background-size: cover;
  }
}
.section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
  position: relative;
}
.section-heading::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #107F78;
  border: none;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.section-heading .heading-2 {
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  color: #DFFAFB;
  display: inline-block;
  background-color: #617DEA;
  text-transform: uppercase;
  border-radius: 5px;
}

.service-card {
  padding: 0 20px;
}
.service-card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
.service-card .card-header .svg-icon {
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
}
.service-card .card-header .svg-icon svg {
  width: 60px;
  height: 60px;
}
.service-card .card-header .svg-icon svg rect {
  fill: transparent;
}
.service-card .card-header .svg-icon svg circle {
  stroke: #052929;
}
.service-card .card-header .svg-icon svg path {
  stroke: #052929;
}
.service-card .card-header .heading-3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #052929;
}
.service-card .card-body .card-description {
  margin: 14px 0 20px;
  text-align: start;
  max-width: 420px;
  font-size: 16px;
}
.service-card .card-body .readmore {
  color: #2B18B9;
  font-size: 16px;
}

@media (min-width: 768px) {
  .service-card {
    margin: 0 auto;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .service-card .card-body .card-description {
    max-width: 306.6666666667px;
  }
}
@media (min-width: 1200px) {
  .service-card .card-body .card-description {
    max-width: 366.6666666667px;
  }
}
@media (min-width: 1400px) {
  .service-card .card-body .card-description {
    max-width: 426.6666666667px;
  }
}
.customer-card {
  margin: 0 auto;
}
.customer-card .card-header {
  width: 260px;
  height: 200px;
  border-radius: 5px;
}
.customer-card .card-header img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.customer-card .card-body {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.customer-card .card-body .customer-name .title {
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}
.customer-card .card-body .customer-name .fullname {
  font-size: 18px;
  font-style: italic;
}
.customer-card .card-body .customer-opinion {
  display: none;
  width: 260px;
}
.customer-card .card-body .profile {
  font-size: 16px;
  color: #2B18B9;
}

@media (min-width: 992px) {
  .customer-card .card-header {
    width: 225px;
    height: 180px;
  }
  .customer-card .card-body .customer-opinion {
    width: 225px;
  }
}
@media (min-width: 1200px) {
  .customer-card .card-header {
    width: 265px;
    height: 265px;
  }
  .customer-card .card-body .customer-opinion {
    display: block;
    width: 265px;
  }
}
@media (min-width: 1400px) {
  .customer-card .card-header {
    width: 315px;
    height: 315px;
  }
  .customer-card .card-body .customer-opinion {
    width: 315px;
  }
}
.project-card {
  width: 260px;
  height: 260px;
  margin: 0 auto;
}
.project-card img {
  border-radius: 5px;
}

@media (min-width: 992px) {
  .project-card {
    width: 306.6666666667px;
    height: 306.6666666667px;
  }
}
@media (min-width: 1200px) {
  .project-card {
    width: 366.6666666667px;
    height: 366.6666666667px;
  }
}
@media (min-width: 1400px) {
  .project-card {
    width: 426.6666666667px;
    height: 426.6666666667px;
  }
}
.description {
  max-width: 425px;
  margin: 30px auto;
  text-align: center;
}
.description .quote {
  font-size: 18px;
  font-style: italic;
  text-transform: uppercase;
  color: #052929;
}

.service-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.customer-cards, .project-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

@media (min-width: 576px) {
  .description {
    max-width: 525px;
  }
  .customer-cards, .project-cards {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media (min-width: 768px) {
  .service-cards, .customer-cards, .project-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 992px) {
  .service {
    margin: 60px 0;
  }
  .service .service-cards {
    margin: 60px 0;
  }
  .customer {
    margin: 60px 0;
  }
  .customer .customer-cards {
    margin: 60px 0;
  }
  .project {
    margin: 60px 0;
  }
  .project .project-cards {
    margin: 60px 0;
  }
}
.blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
.blog-card .picture {
  width: 120px;
  height: 120px;
}
.blog-card .picture img {
  border-radius: 5px;
}
.blog-card .blog-descriptoin {
  max-width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.blog-card .blog-descriptoin .title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #DFFAFB;
}
.blog-card .blog-descriptoin .card-description {
  margin: 0;
  text-align: start;
  font-size: 14px;
  color: #DFFAFB;
}

@media (min-width: 1200px) {
  .blog-card .blog-descriptoin .title, .blog-card .blog-descriptoin .card-description {
    font-size: 16px;
  }
}
.input input, .input textarea {
  width: 100%;
  padding: 10px;
  border: 0;
  outline: 0;
  color: #052929;
  border-radius: 5px;
  background-color: #DFFAFB;
}
.input input::-webkit-input-placeholder, .input textarea::-webkit-input-placeholder {
  color: #052929;
  font-family: "Times New Roman", serif;
}
.input input::-moz-placeholder, .input textarea::-moz-placeholder {
  color: #052929;
  font-family: "Times New Roman", serif;
}
.input input:-ms-input-placeholder, .input textarea:-ms-input-placeholder {
  color: #052929;
  font-family: "Times New Roman", serif;
}
.input input::-ms-input-placeholder, .input textarea::-ms-input-placeholder {
  color: #052929;
  font-family: "Times New Roman", serif;
}
.input input::placeholder, .input textarea::placeholder {
  color: #052929;
  font-family: "Times New Roman", serif;
}
.input textarea {
  height: 100px;
}

@media (min-width: 1200px) {
  .input input, .input textarea {
    font-size: 16px;
  }
}
button {
  border: 0;
  width: 100%;
  padding: 10px;
  color: #DFFAFB;
  background-color: #617DEA;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Times New Roman", serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  button {
    width: auto;
    padding: 10px 40px;
  }
}
.footer {
  background-color: #107F78;
}
.footer .footer-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto 40px 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 40px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.footer .footer-body > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.footer .footer-body > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.footer .footer-body > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.footer .footer-body > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.footer .footer-body .heading-3 {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  color: #052929;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.footer .footer-body .blog {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
}
.footer .footer-body .blog .blog-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.footer .footer-body .address {
  min-width: 185px;
}
.footer .footer-body .address .details {
  font-size: 14px;
  color: #DFFAFB;
}
.footer .footer-body .address .details .company, .footer .footer-body .address .details .tel {
  margin-bottom: 20px;
}
.footer .footer-body .address .details .email {
  color: #2B18B9;
}
.footer .footer-body .address .details .work-hours {
  font-weight: bold;
  font-style: normal;
  margin-bottom: 10px;
}
.footer .footer-body .contact-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.footer .break-line {
  width: 100%;
  height: 1px;
  background-color: #DFFAFB;
  border: none;
}
.footer .copyright-body {
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .copyright-body p {
  color: #DFFAFB;
  font-size: 12px;
}

@media (min-width: 576px) {
  .footer .footer-body {
    padding-left: 0;
    padding-right: 0;
  }
  .footer .footer-body .address {
    min-width: 220px;
  }
}
@media (min-width: 768px) {
  .footer .footer-body {
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
  }
  .footer .footer-body .blog {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer .footer-body .contact-layout {
    max-width: 350px;
  }
}
@media (min-width: 992px) {
  .footer .footer-body {
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    padding: 60px 0;
  }
  .footer .footer-body > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer .footer-body > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .footer .footer-body > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .footer .footer-body .heading-3 {
    margin-bottom: 60px;
  }
  .footer .footer-body .contact-layout {
    min-width: 270px;
  }
}
@media (min-width: 1200px) {
  .footer .footer-body .address .details {
    font-size: 16px;
  }
  .footer .copyright-body p {
    font-size: 14px;
  }
}
@media (min-width: 1400px) {
  .footer .copyright-body p {
    font-size: 16px;
  }
}
.modal {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.modal .up {
  padding: 10px;
  background-color: #617DEA;
  -webkit-box-shadow: 2px 2px 4px 0 #107F78;
          box-shadow: 2px 2px 4px 0 #107F78;
}
.modal .up::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-top: 1px solid #D9D9D9;
  border-right: 1px solid #D9D9D9;
  -webkit-transform: translateY(5px) rotate(-45deg);
          transform: translateY(5px) rotate(-45deg);
}
/*# sourceMappingURL=main.css.map */