* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #DFFAFB;
  font-family: "Times New Roman", serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header .heading-1 {
  display: none;
}

.break-line {
  width: 100%;
  height: 1px;
  background-color: #107F78;
  border: none;
}

.customer-card .card-body .profile, .service-card .card-body .readmore, .navigation .nav-menu a {
  text-decoration: none;
}
.customer-card .card-body .profile:hover, .service-card .card-body .readmore:hover, .navigation .nav-menu a:hover {
  cursor: pointer;
}
.customer-card .card-body .profile:active, .service-card .card-body .readmore:active, .navigation .nav-menu a:active {
  color: inherit;
}

.service, .service .service-cards, .customer, .customer .customer-cards, .project, .project .project-cards {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

.blog-card .picture img, .project-card img, .customer-card .card-header img, .carousel .carousel-inner source, .carousel .carousel-inner img {
  width: 100%;
  height: 100%;
}

.blog-card .picture, .project-card, .customer-card .card-header, .carousel .carousel-inner {
  position: relative;
}
.blog-card .picture::after, .project-card::after, .customer-card .card-header::after, .carousel .carousel-inner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.2);
  border-radius: 5px;
  top: 0;
  left: 0;
}

.footer .footer-body {
  padding: 40px 10px;
}

.navigation {
  background-color: #617DEA;
  padding: 15px;
  border-radius: 5px;
}
.navigation .nav-menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
}
.navigation .nav-menu a {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  color: #052929;
}
.navigation .nav-menu a.active {
  color: #DFFAFB;
}
.navigation .nav-menu a:hover {
  color: #DFFAFB;
}

.carousel {
  padding-left: 10px;
  padding-right: 10px;
}
.carousel .carousel-inner {
  display: inline-block;
}
.carousel .carousel-inner source {
  border-radius: 5px;
}
.carousel .carousel-inner img {
  border-radius: 5px;
}
.carousel .carousel-control {
  margin-top: 10px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.carousel .carousel-control .button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #052929;
}
.carousel .carousel-control .button.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2B18B9;
}

.section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
  position: relative;
}
.section-heading::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #107F78;
  border: none;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.section-heading .heading-2 {
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  color: #DFFAFB;
  display: inline-block;
  background-color: #617DEA;
  text-transform: uppercase;
  border-radius: 5px;
}

.service-card {
  padding: 0 20px;
}
.service-card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
.service-card .card-header .svg-icon {
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
}
.service-card .card-header .svg-icon svg {
  width: 60px;
  height: 60px;
}
.service-card .card-header .svg-icon svg rect {
  fill: transparent;
}
.service-card .card-header .svg-icon svg circle {
  stroke: #052929;
}
.service-card .card-header .svg-icon svg path {
  stroke: #052929;
}
.service-card .card-header .heading-3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #052929;
}
.service-card .card-body .description {
  margin: 14px 0 20px;
  text-align: start;
  font-size: 16px;
}
.service-card .card-body .readmore {
  color: #2B18B9;
  font-size: 16px;
}

.customer-card .card-header {
  width: 262px;
  height: 197px;
  border-radius: 5px;
}
.customer-card .card-header img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.customer-card .card-body {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.customer-card .card-body .customer-name .title {
  font-size: 16px;
  font-weight: bold;
  margin-right: 5px;
}
.customer-card .card-body .customer-name .fullname {
  font-size: 18px;
  font-style: italic;
}
.customer-card .card-body .profile {
  font-size: 16px;
  color: #2B18B9;
}

.project-card {
  width: 262px;
  height: 262px;
}
.project-card img {
  border-radius: 5px;
}

.description {
  max-width: 425px;
  margin: 30px auto;
  text-align: center;
}
.description .quote {
  font-size: 18px;
  font-style: italic;
  text-transform: uppercase;
  color: #052929;
}

.customer-cards, .project-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}
.blog-card .picture {
  width: 120px;
  height: 120px;
}
.blog-card .picture img {
  border-radius: 5px;
}
.blog-card .blog-descriptoin {
  max-width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.blog-card .blog-descriptoin .title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #DFFAFB;
}
.blog-card .blog-descriptoin .description {
  margin: 0;
  text-align: start;
  font-size: 14px;
  color: #DFFAFB;
}

.input input, .input textarea {
  width: 100%;
  padding: 10px;
  border: 0;
  outline: 0;
  color: #052929;
  border-radius: 5px;
  background-color: #DFFAFB;
}
.input input::-webkit-input-placeholder, .input textarea::-webkit-input-placeholder {
  color: #052929;
  font-family: "Times New Roman", serif;
}
.input input::-moz-placeholder, .input textarea::-moz-placeholder {
  color: #052929;
  font-family: "Times New Roman", serif;
}
.input input:-ms-input-placeholder, .input textarea:-ms-input-placeholder {
  color: #052929;
  font-family: "Times New Roman", serif;
}
.input input::-ms-input-placeholder, .input textarea::-ms-input-placeholder {
  color: #052929;
  font-family: "Times New Roman", serif;
}
.input input::placeholder, .input textarea::placeholder {
  color: #052929;
  font-family: "Times New Roman", serif;
}
.input textarea {
  height: 100px;
}

button {
  border: 0;
  width: 100%;
  padding: 10px;
  color: #DFFAFB;
  background-color: #617DEA;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Times New Roman", serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer {
  background-color: #107F78;
}
.footer .footer-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto 40px 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 40px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.footer .footer-body > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.footer .footer-body > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.footer .footer-body > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.footer .footer-body > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.footer .footer-body .heading-3 {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  color: #052929;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.footer .footer-body .blog {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/span 2;
}
.footer .footer-body .blog .blog-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.footer .footer-body .address {
  min-width: 185px;
}
.footer .footer-body .address .details {
  font-size: 14px;
  color: #DFFAFB;
}
.footer .footer-body .address .details .company, .footer .footer-body .address .details .tel {
  margin-bottom: 20px;
}
.footer .footer-body .address .details .email {
  color: #2B18B9;
}
.footer .footer-body .address .details .work-hours {
  font-weight: bold;
  font-style: normal;
  margin-bottom: 10px;
}
.footer .footer-body .contact-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.footer .break-line {
  width: 100%;
  height: 1px;
  background-color: #DFFAFB;
  border: none;
}
.footer .copyright-body {
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .copyright-body p {
  color: #DFFAFB;
  font-size: 12px;
}
/*# sourceMappingURL=main.css.map */