@use "../helpers/variables" as *;
@use "../helpers/placeholder";
@use "../helpers/mixins" as *;

.customer-card {
  margin: 0 auto;

  .card-header {
    width: 260px;
    height: 200px;
    border-radius: $border-radius;
    @extend %overlay;

    img {
      @extend %width-height-100;
      object-fit: cover;
      object-position: top;
    }
  }

  .card-body {
    margin-top: 10px;
    @include flex-center-gap(column, false, 10px);

    .customer-name {
      .title {
        font: {
          size: $title-size;
          weight: $headings-weight;
        };
        margin-right: 5px;
      }

      .fullname {
        font: {
          size: $description-size;
          style: $description-style;
        };
      }
    }

    .customer-opinion {
      display: none;
      width: 260px;
    }

    .profile {
      @extend %a;
      font-size: $title-size;
      color: $accent;
    }
  }
}

@include media("large") {
  .customer-card {
    .card-header {
      width: calc(900px/4);
      height: 180px;
    }

    .card-body {
      .customer-opinion {
        width: calc(900px/4);
      }
    }
  }
}

@include media("x-large") {
  .customer-card {
    .card-header {
      width: calc(1060px/4);
      height: calc(1060px/4);
    }

    .card-body {
      .customer-opinion {
        display: block;
        width: calc(1060px/4);
      }
    }
  }
}

@include media("xx-large") {
  .customer-card {
    .card-header {
      width: calc(1260px/4);
      height: calc(1260px/4);
    }

    .card-body {
      .customer-opinion {
        width: calc(1260px/4);
      }
    }
  }
}