@use "../helpers/variables" as *;
@use "../helpers/placeholder";
@use "../helpers/mixins" as *;

.customer-card {
  .card-header {
    width: 262px;
    height: 197px;
    border-radius: $border-radius;
    @extend %overlay;

    img {
      @extend %width-height-100;
      object-fit: cover;
      object-position: top;
    }
  }

  .card-body {
    margin-top: 10px;
    @include flex-center-gap(column, false, 10px);

    .customer-name {
      .title {
        font: {
          size: $title-size;
          weight: $headings-weight;
        };
        margin-right: 5px;
      }

      .fullname {
        font: {
          size: $description-size;
          style: $description-style;
        };
      }
    }

    .profile {
      @extend %a;
      font-size: $title-size;
      color: $accent;
    }
  }
}