@use "../helpers/variables" as *;
@use "../helpers/placeholder";

.project-card {
  width: 260px;
  height: 260px;
  margin: 0 auto;
  @extend %overlay;

  img {
    @extend %width-height-100;
    border-radius: $border-radius;
  }
}