@use "../helpers/variables" as *;
@use "../helpers/placeholder";
@use "../helpers/mixins" as *;

.project-card {
  width: 260px;
  height: 260px;
  margin: 0 auto;
  @extend %overlay;

  img {
    @extend %width-height-100;
    border-radius: $border-radius;
  }
}

@include media("large") {
  .project-card {
    width: calc(920px/3);
    height: calc(920px/3);
  }
}

@include media("x-large") {
  .project-card {
    width: calc(1100px/3);
    height: calc(1100px/3);
  }
}

@include media("xx-large") {
  .project-card {
    width: calc(1280px/3);
    height: calc(1280px/3);
  }
}