@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;
@use "../helpers/placeholder";

.service-card {
  padding: 0 20px;

  .card-header {
    display: flex;
    align-items: center;
    gap: 14px;

    .svg-icon {
      @include svg-icon-edit(60px, transparent, $text);
      transform: translateX(-6px);
    }

    .heading-3 {
      font: {
        size: $heading-3-size;
        weight: $headings-weight;
      };
      text-transform: $headings-transform;
      color: $text;
    }
  }

  .card-body {
    .card-description {
      margin: 14px 0 20px;
      text-align: start;
      max-width: 420px;
      font: {
        size: $text-size;
      }
    }

    .readmore {
      @extend %a;
      color: $accent;
      font-size: $text-size;
    }
  }
}

@include media("medium") {
  .service-card {
    margin: 0 auto;
    padding: 0;
  }
}

@include media("large") {
  .service-card {
    .card-body {
      .card-description {
        max-width: calc(920px/3);
      }
    }
  }
}