// Container Mixin
@mixin container-width($media-width, $container-width) {
  @media ($media-width) {
    .container {
      width: $container-width;
    }
  }
}

// Break-Line Mixin
@mixin break-line($width, $height, $color) {
  width: $width;
  height: $height;
  background-color: $color;
  border: none;
}

// Make Circles
@mixin circle($dimenstion, $background) {
  width: $dimenstion;
  height: $dimenstion;
  border-radius: 50%;
  background-color: $background;
}

// Section Margin
@mixin cards-sections-margin($section) {
  .#{$section} {
    @content;

    .#{$section}-cards {
      @content;
    }
  }
}

// Edit Icons
@mixin svg-icon-edit($dimenstion, $background, $color) {
  svg {
    width: $dimenstion;
    height: $dimenstion;
    rect {
      fill: $background;
    }
    circle {
      stroke: $color;
    }
    path {
      stroke: $color;
    }
  }
}

// Flex Direction, Center, and Gap
@mixin flex-center-gap($direction, $center, $gap) {
  display: flex;
  flex-direction: $direction;
  @if $center {
    justify-content: if($direction == column, null, center);
    align-items: if($direction == column, center, null);
  }
  gap: $gap;
}