@use "./variables" as *;

// NOTE::
// Placeholder Doesn't Work In Media Queries

// Link Placeholder
%a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
  &:active {
    color: inherit;
  }
}

// Section Margin 40
%section-margin-40 {
  margin: 0 {
    top: 40px;
    bottom: 40px;
  };
}

// Section Margin 60
%section-margin-60 {
  margin: 0 {
    top: 60px;
    bottom: 60px;
  };
}

// Image Width, Height 100%
%width-height-100 {
  width: 100%;
  height: 100%;
}

// Overlay
%overlay {
  position: relative;
  &::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    @extend %width-height-100;
    background-color: rgba($images, 0.2);
    border-radius: $border-radius;
  }
}

// Footer Padding 40
%footer-padding-40 {
  padding: 40px 10px;
}

// Footer Padding 60
%footer-padding-60 {
  padding: 60px 0;
}