@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

// Innerwidth is less than 576px
.container {
  margin: {
    right: auto;
    left: auto;
  }
  width: 100%;
}

@for $i from 1 through 5 {
  @include container-width(nth($media-width, $i), nth($container-width, $i));
}