@use "../helpers/variables" as *;
@use "../helpers/placeholder";
@use "../components/blog-card";
@use "../components/input";
@use "../components/button";
@use "../helpers/mixins" as *;

.footer {
  background-color: $secondary;
  
  .footer-body {
    @extend %footer-padding-40;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    row-gap: 40px;
    column-gap: 20px;

    .heading-3 {
      font: {
        size: $heading-3-size;
        weight: $headings-weight;
        style: normal;
      };
      color: $text;
      text-transform: $headings-transform;
      margin-bottom: 30px;
    }

    .blog {
      grid-column: 1 / span 2;

      .blog-cards {
        @include flex-center-gap(column, false, 40px);
      }
    }

    .address {
      min-width: 185px;

      .details {
        font-size: $small-text-size;
        color: $background;

        .company, .tel {
          margin-bottom: 20px;
        }

        .email {
          color: $accent;
        }

        .work-hours {
          font: {
            weight: $headings-weight;
            style: normal;
          };
          margin-bottom: 10px;
        }
      }
    }

    .contact-layout {
      @include flex-center-gap(column, false, 20px);
    }
  }

  .break-line {
    @include break-line(100%, 1px, $background);
  }

  .copyright-body {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;

    p {
      color: $background;
      font-size: $copyright-size;
    }
  }
}

@include media("small") {
  .footer {
    .footer-body {
      padding: {
        left: 0;
        right: 0;
      };
  
      .address {
        min-width: 220px;
      }
    }
  }
}

@include media("medium") {
  .footer {
    .footer-body {
      grid-template-columns: 2fr 1fr;
  
      .blog {
        grid-column: 1;
      }
  
      .contact-layout {
        max-width: 350px;
      }
    }
  }
}

@include media("large") {
  .footer {
    .footer-body {
      grid-template-columns: auto auto auto;
      grid-template-rows: auto;
      padding: 60px 0;
  
      .heading-3 {
        margin-bottom: 60px;
      }
  
      .contact-layout {
        min-width: 270px;
      }
    }
  }
}

@include media("x-large") {
  .footer {
    .footer-body {
      .address {
        .details {
          font-size: $text-size;
        }
      }
    }

    .copyright-body {
      p {
        font-size: $copyright-size + 2;
      }
    }
  }
}

@include media("xx-large") {
  .footer {
    .copyright-body {
      p {
        font-size: $text-size;
      }
    }
  }
}