@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

.header {
  @include flex-center-gap(column, true, 20px);
  padding: {
    top: 30px;
    bottom: 30px;
  };

  .heading-1 {
    display: none;
  }
}

.break-line {
  @include break-line(100%, 1px, $secondary);
}

@include media("x-large") {
  .header {
    @include flex-center-gap(row, false, 0);
    justify-content: space-between;
  }
}