@use "../helpers/variables" as *;
@use "../components/carousel";
@use "../helpers/placeholder";
@use "../components/section-heading";
@use "../components/service-card";
@use "../helpers/mixins" as *;
@use "../components/customer-card";
@use "../components/project-card";

.description {
  max-width: 425px;
  margin: 30px auto;
  text-align: center;
  
  .quote {
    font: {
      size: $description-size;
      style: $description-style;
    };
    text-transform: $headings-transform;
    color: $text;
  }
}

// All Sections With Cards And Same Margin
$sections: "service", "customer", "project";

@each $section in $sections {
  @include cards-sections-margin($section) {
    @extend %section-margin-40;
  }
}

.service-cards {
  @include flex-center-gap(column, false, 20px);
}

.customer-cards, .project-cards {
  @include flex-center-gap(row, true, 20px);
}

// Media Queries
@include media("small") {
  .description {
    max-width: 525px;
  }

  .customer-cards, .project-cards {
    justify-content: start;
  }
}

@include media("medium") {
  .service-cards, .customer-cards, .project-cards {
    @include flex-center-gap(row, true, 20px);
    flex-wrap: wrap;
  }
}

@include media("large") {
  @each $section in $sections {
    @include cards-sections-margin($section) {
      margin: 60px 0;
    }
  }
}