// Sass Varaibles
@use "../helpers/variables" as *;

.description {
  max-width: 425px;
  margin: 30px auto;
  text-align: center;
  
  .quote {
    font: {
      size: $description-size;
      style: $description-style;
    };
    text-transform: $headings-transform;
    color: $text;
  }
}

