// Sass Varaibles
@use "../helpers/variables" as *;

// Carousel
@use "../components/carousel";

// Placeholders
@use "../helpers/placeholder";

// Section Heading
@use "../components/section-heading";

// Service Card
@use "../components/service-card";

// Mixins
@use "../helpers/mixins" as *;

// Customer Card
@use "../components/customer-card";

// Project Card
@use "../components/project-card";

.description {
  max-width: 425px;
  margin: 30px auto;
  text-align: center;
  
  .quote {
    font: {
      size: $description-size;
      style: $description-style;
    };
    text-transform: $headings-transform;
    color: $text;
  }
}

// All Sections With Cards And Same Margin
$sections: "service", "customer", "project";

@each $section in $sections {
  @include cards-sections-margin($section) {
    @extend %section-margin-40;
  }
}

.customer-cards, .project-cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}